body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    flex-wrap: wrap;
}

button {
    flex-wrap: wrap;
    width: 125px;
    height: 100px;
    border-radius: 10%;
    font-size: 24px;
    background-color: lightblue;
}

.round-result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

#round-score {
    font-weight: bold;
}

.score-keeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}